/*
.filters {
  margin-top: 4px;
}
*/

.query-field {
  margin-bottom: 4px;

  display: flex;
  align-items: flex-start;
}

.tags {
  justify-content: flex-start;
  align-self: center;
}

.logcli-help-desc ul {
  list-style: none;
}
